<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="app" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="app" ng-controller="AppController as vm" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="dist/bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="dist/bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="dist/styles/main.css">
  <script src="dist/bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div class="container">
    <select ng-model="vm.locationIndex" ng-change="vm.getData()">
      <option ng-repeat="location in vm.locations" value="{{$index}}">{{location.city | prettyName}}</option>
    </select>
  </div>

  <h1>{{ vm.location.city | prettyName }}</h1>  
  <img src="http://api.wunderground.com/api/f0980a3218b1a66d/animatedradar/q/{{vm.location.state}}/{{vm.location.city}}.gif?width=280&height=280&newmaps=1&delay=100&interval=60&rainsnow=1&noclutter=1&timelabel=1"/>

  <angucomplete-alt id="location"
              placeholder="Search Locations"
              pause="400"
              selected-object="vm.callback"
              remote-url="http://autocomplete.wunderground.com/aq?query="
              remote-url-data-field="RESULTS"
              title-field="name"
              input-class="form-control form-control-small"/>


  

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="dist/bower_components/angular/angular.js"></script>
  <script src="dist/bower_components/oauth-js/dist/oauth.js"></script>
  <script src="dist/bower_components/angucomplete-alt/angucomplete-alt.js"></script>
  <!--<script src="dist/bower_components/angular-route/angular-route.js"></script> -->
  <script src="dist/scripts/app.js"></script>
</body>
</html>
